.clients {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__thumb:hover,
.clients__thumb:focus {
    border-color: $brand-color;
}

.clients__thumb:hover .clients__icon,
.clients__thumb:focus .clients__icon {
    fill: $brand-color;
}